<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css"
      	href="https://fonts.googleapis.com/css?family=Chewy|Open+Sans">
	<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<title>Eat-Da-Burger!</title>
</head>
	<body>
		{{{ body }}}
	</body>
</html>
